.body-wrapper {
  width: @mobile/* временно */;
  margin: 0 auto;

  outline: 1px solid black/* временно */;
}

@media (min-width: @tablet) {
  .body-wrapper {
    width: @tablet/* временно */;
  }
}

@media (min-width: @desktop) {
  .body-wrapper {
    width: @desktop/* временно */;
  }
}
