.button {
  display: block;
  width: 100%;

  font-family: 'Oswald', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  background-color: #68b738;
  border: none;
}

.button--show-all {
  color: #111111;

  background-color: #f2f2f2;
}

@media (min-width: @tablet) {
  .button--programs {
    width: 245px;
    padding: 16px 0;
    
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
}