.button {
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  background-color: #68b738;
  border: none;
}

.button--programs {
  padding-top: 12px;
  padding-bottom: 12px;

  font-size: 14px;
  line-height: 18px;
}

.button--show-all {
  padding-top: 11px;
  padding-bottom: 9px;

  font-size: 16px;
  line-height: 20px;
  color: #111111;

  background-color: #f2f2f2;
}

.button--submit {
  width: 280px;
}

@media (min-width: @tablet) {
  .button {
    width: 249px;
    padding: 10px 0;

    font-size: 16px;
    line-height: 20px;
  }

  .button--programs {
    width: 245px;
    padding: 16px 0;

    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .button--optional-item {
    width: 100%;
  }

  .button--submit {
    width: 283px;
    padding: 16px 0;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop) {
  .button {
    width: 170px;
  }

  .button--programs {
    width: 245px;
  }

  .button--optional-item {
    width: 245px;
  }

  .button--submit {
    width: 570px;
  }
}
