.cat-form {
  font-family: 'Oswald', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
}

.cat-form {
  font-family: 'Oswald', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
}

.cat-form__fieldset {
  border:0;
}