.comment__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  text-transform: none;
}

.comment__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
}

.comment__text::-webkit-input-placeholder {
  color: #444444;
}

.comment__text::-moz-placeholder {
  color: #444444;
}

.comment__text:-moz-placeholder {
  color: #444444;
}

.comment__text:-ms-input-placeholder {
  color: #444444;
}

@media (min-width: @tablet) {
  .comment__title {
    font-size: 36px;
    line-height: 36px;
  }

  .comment__text {
    font-size: 20px;
    line-height: 20px;
  }
}
