.location__invite {
  font-family: 'Oswald', Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

.location__address {
  line-height: 20px;
}