.main-products__items {
  margin: 0;
  padding: 0;
}

.main-products__item {
  list-style: none;
}

.main-products__detailed {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

.main-products__promo {
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: @tablet) {
  .main-products__items {
    display: flex;
    flex-wrap: wrap;
  }

  .main-products__item {
    width: 50%;
    padding: 0 30px;
    box-sizing: border-box;
  }

  .main-products__detailed {
    font-size: 20px;
    line-height: 20px;
  }

  .main-products__promo {
    font-size: 16px;
    line-height: auto;
  }
}

@media (min-width: @desktop) {
  .main-products__item {
    width: 25%;
    padding: 0 40px;
    box-sizing: border-box;
  }
}
