.main-products__items {
  margin: 0;
  padding: 0;
}

.main-products__item {
  list-style: none;
}

.main-products__detailed {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

.main-products__promo {
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: @tablet) {
  .main-products__items {
    display: flex;
  }
}
