.main-nav__list {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
  
  .main-nav__list {
    display: flex;
    justify-content: space-around; /* временно */
    
    width: 560px;
  }
}

@media (min-width: 1440px) {
  .main-nav {
    margin-left: auto;
  }
}