.optional-products {
  padding: 0 20px;
  padding-top: 28px;
}

.optional-products__title {
  margin: 0;
  padding: 0;
  padding-bottom: 34px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;

  border-bottom: 1px solid #cdcdcd;
}

.optional-products__items {
  margin: 0;
  padding: 0;
}

.optional-products__item {
  list-style: none;
}

@media (min-width: @tablet) {
  .optional-products {
    padding: 0 68px;
  }

  .optional-products__title {
    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: @desktop) {
  .optional-products {
    flex-grow: 1;

    padding: 0 40px;
  }
}
