.optional-products {
  padding: 0 20px;
  padding-top: 28px;
}

.optional-products__title {
  margin: 0;
  padding: 0;
  padding-bottom: 34px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;

  border-bottom: 1px solid #cdcdcd;
}

.optional-products__items {
  margin: 0;
  padding: 0;
}

.optional-products__item {
  list-style: none;
}

@media (min-width: @tablet) {
  .optional-products {
    padding: 0 30px;
    padding-top: 67px;
    padding-bottom: 69px;
  }

  .optional-products__relative {
    position: relative;
  }

  .optional-products__title {
    padding: 0 38px;
    padding-bottom: 80px;

    font-size: 36px;
    line-height: 36px;

    &::before,
    &::after {
      content: "";

      position: absolute;
      top: 89px;
      height: 3px;

      background-color: #68b738;
    }

    &::before {
      left: 0;

      width: 28px;
    }

    &::after {
      right: 0;

      width: 327px;
    }
  }
}

@media (min-width: @desktop) {
  .optional-products {
    flex-grow: 1;

    padding: 0 40px;
    padding-top: 67px;
  }

  .optional-products__title {
    padding-left: 0;
    padding-right: 0;

    &::before,
    &::after {
      top: 90px;
    }

    &::before {
      left: 0px;

      width: 70px;
    }

    &::after {
      right: 0px;

      width: 958px;
    }
  }
}
