.page-header {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #111111;
  text-transform: uppercase;
}

@media (min-width: @tablet) {
  .page-header {
    display: flex;

    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
}

@media (min-width: @desktop) {
  .page-header {
    font-size: 20px;
  }
}
