.page-main__wrapper {
  background-color: #67ab3e;
  background: url("../img/index-background-mobile@1x.jpg") no-repeat;
  background-size: 100% auto;
}

.page-main__title {
  font-family: 'Oswald', Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

.page-main__title--other-page {
  line-height: 60px;
  color: #111111;
}

.page-main__text {
  font-family: 'Oswald', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

.page-main__note {
  font-size: 14px;
  line-height: 16px;
}