.program-selection {
  padding: 0 20px;
}

.program-selection_choice {
  background-color: #f2f2f2;
}

@media (min-width: @tablet) {
  .program-selection {
    position: relative;

    padding: 0 30px;
  }
  
  .program-selection__button {
    position: absolute;
    top: -590px;
    left: 120px;
  }
}

@media (min-width: @desktop) {
  .program-selection {
    display: flex;

    padding: 0 70px;
  }
  
  .program-selection__button {
    top: -270px;
    left: 190px;
  }
}