.promo__text {
  margin: 0;
  padding: 0;
  padding-top: 24px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.promo__wrapper {
  box-sizing: border-box;
  padding-top: 31px;
}

.promo__index-can {
  display: block;
  margin: 0 auto;
}

@media (min-width: @tablet) {
  .promo__text {
    width: 425px;
    padding-left: 90px;
    padding-top: 41px;

    font-size: 20px;
    line-height: 20px;
    color: #111111;
    text-align: left;
  }

  .promo__wrapper {
    height: 630px;
  }
}

@media (min-width: @desktop) {
  .promo {
    position: relative;
  }

  .promo__index-can {
    position: absolute;
    top: -200px;
    left: 40%;
  }

  .promo__wrapper {
    height: auto;
  }

  .promo__text {
    padding-left: 190px;
  }
}
