.promo-action {
  background-color: #6fb346;
  background: url("../img/gift-photo-mobile@1x.jpg") no-repeat;
  background-size: 100% auto;
}

.promo-action__text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
